<div class="landing">
  <div class="light-overlay landing-inner text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-3 mb-4">Personal Project Management Tool</h1>
          <p class="lead">
            Create your account to join active projects or start your own
          </p>
          <hr />
          <a routerLink="/register" class="btn btn-lg btn-primary mr-2">
            Sign Up
          </a>
          <a routerLink="/login" class="btn btn-lg btn-secondary mr-2">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
